<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.ebnbin.ebdev">
    <application>
        <activity
            android:name=".CrashActivity"/>
        <provider
            android:name=".EBDevInitializer"
            android:authorities="${applicationId}.EBDevInitializer"
            android:exported="false"/>
    </application>
</manifest>
